.stationBreadcrumb .breadcrumb {
	margin-bottom: 13px;
}
.filterSec{
    background-color: #fff;
    padding: 8px 16px;
    margin-top: 24px;
}
.filterSec .greenColor{
    margin-left: 0.5rem;
}
.dateFrom{
    margin-left: 34px;
}
.dateFrom label{
    min-width: 60px;
    margin-right: 8px;
}
.toMar{
    margin: 0 8px 0 16px;
}
.searchBar input {
	padding: 4px 4px 4px 40px;
}
.searchBar img{
    position: absolute;
    margin-left: 16px;
    top: 50%;
    transform: translateY(-50%);
}
.searchBar{
    margin-left: 14px;
}
.energyConsump img{
    padding: 0 15px;
}
.marginLeft24{
    margin-left:24px;
}
.searchBar span svg {
	position: absolute;
	left: 18px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
/*--dropdown--*/
/*--08-09-2021--*/
.paddingStyle{
    padding: 11px 16px;
}
/*double css*/
.pad-11-11-16{
    padding:11px 0 11px 16px !important;
}
.pad-14-13-19{
    padding:14px 0 13px 16px !important;
}