.dark-black{
    color:#1D2337 !important;
}
.greena{
    color:#0FEE9F;
}
.bg-light{
    background-color:rgba(63, 94, 240, 1);
}
.box-shadow {
    box-shadow: 0 4px 12px #00000026;
}
.custom-border{
    border:1px solid rgba(29, 35, 55, 0.7);
    border-radius:10px;
}
.statementBreadcrumb .breadcrumb {
	margin-bottom: 13px;
}
.brdrRadius8{
    border-radius: 8px;
}
.statementBox {
	padding: 16px 24px 32px;
}
.minHgt152{
    min-height: 152px;
}
.backBlueColor {
	background-color: #e1e8f8;
	margin: -24px -40px 32px;
	padding: 24px;
}